In [1]:
import pandas as pd

#### After running the test_file.sh for about 2 to 3 laps, I start by converting it to a pandas dataframe.

-   Read default.samples using the pd.read_table() function.
-   Use pd.DataFrame() to convert to a dataframe
-   We changed the code so that it would add the target velocity to the data

In [2]:
# Define path
path = "C:/Users/nilsm/workspace/MakeAIWork2/project/simpylc/data/sonar_data_3r.samples"

# Read file
t = pd.read_table(path, sep=" ", header=None,)

# Convert to df
df = pd.DataFrame(t)

# Show
display(df)

           0       1       2     3         4
0     1.4683  1.2854  1.7757 -22.0  1.133333
1     1.4683  1.2854  1.7757 -22.0  1.133333
2     1.4683  1.2854  1.7757 -22.0  1.133333
3     1.4683  1.2854  1.7757 -22.0  1.133333
4     1.4683  1.2854  1.7757 -22.0  1.133333
...      ...     ...     ...   ...       ...
2994  2.1765  1.3883  1.0035   0.0  1.500000
2995  2.0839  1.3273  0.9421   0.0  1.500000
2996  2.0547  1.3089  0.9240   0.0  1.500000
2997  2.0547  1.3089  0.9240   0.0  1.500000
2998  1.9351  1.2385  1.3189   0.0  1.500000

[2999 rows x 5 columns]

In [3]:
df.tail()

           0       1       2    3    4
2994  2.1765  1.3883  1.0035  0.0  1.5
2995  2.0839  1.3273  0.9421  0.0  1.5
2996  2.0547  1.3089  0.9240  0.0  1.5
2997  2.0547  1.3089  0.9240  0.0  1.5
2998  1.9351  1.2385  1.3189  0.0  1.5

#### Information!

-   Checking for things that might stand out.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2999 non-null   float64
 1   1       2999 non-null   float64
 2   2       2999 non-null   float64
 3   3       2999 non-null   float64
 4   4       2999 non-null   float64
dtypes: float64(5)
memory usage: 117.3 KB

### More!

-   I notice here that the sonar data never reaches max scan range

In [5]:
df.describe()

                 0            1            2            3            4
count  2999.000000  2999.000000  2999.000000  2999.000000  2999.000000
mean      1.913970     1.517429     1.209053     3.293765     1.420651
std       0.372527     0.406884     0.284804     9.691371     0.151016
min       0.872200     0.585300     0.713800   -22.000000     1.133333
25%       1.668400     1.293700     1.028900     0.000000     1.500000
50%       1.867600     1.502700     1.165400     0.000000     1.500000
75%       2.078850     1.695600     1.327000     0.000000     1.500000
max       3.111000     7.928800     3.298800    22.000000     1.500000

#### Save

-   Save as csv

In [23]:
save_path = "C:/Users/nilsm/workspace/MakeAIWork2/project/simpylc/data/sonar_data_3r"

df.to_csv(save_path)